@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter Semi Bold";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter Test";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Whyte Regular";
  src: url("/static/fonts/Whyte-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Medium";
  src: url("/static/fonts/Whyte-Medium.woff2") format("woff2"),
    url("/static/fonts/Whyte-Medium.woff") format("woff"),
    url("../../static/fonts/Whyte-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --ff--replacement-font: Arial, sans-serif;
  --ff--inter-regular: Inter, var(--ff--replacement-font);
  --ff--inter-bold: Inter Bold, var(--ff--replacement-font);
  --ff--inter-medium: Inter Medium, var(--ff--replacement-font);
  --ff--inter-semi-bold: Inter Semi Bold, var(--ff--replacement-font);
  --ff--inter-extra-bold: Inter Extra Bold, var(--ff--replacement-font);
  --ff--inter: Inter Test, var(--ff--replacement-font);
  --ff--whyte: Whyte Regular, var(--ff--replacement-font);
  --ff-whyte-medium: Whyte Medium, var(--ff--replacement-font);
  --ifm-heading-font-family: var(--ff--inter-bold);
  --ifm-heading-font-weight: 500;
  --ifm-heading-line-height: 2rem;
}
